.sidebarChat {
    display: flex;
    flex: 1;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarChat__left {
    display: flex;
    flex-direction: column;
    flex: 0.1;

}

.sidebarChat__left > .MuiAvatar {
    width: 36px;
    height: 36px;
}

.sidebarChat__info {
    display: flex;
    flex-direction: column;
    flex: 0.7;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat__info > h2 {
    font-size: 14px;
    margin-bottom: 2px;
}

.sidebarChat__right{
    display: flex;
    flex-direction: column;
    flex: 0.2;
}

.chat__trash > .MuiSvgIcon-root :hover {
    color: rgb(187, 61, 61);
    font-size: 20px;    
}

.chat__block > .MuiSvgIcon-root :hover {
    color: rgb(187, 61, 61);
    font-size: 20px;
    
}

.delete__Chat > .MuiSvgIcon-root{
    font-size: 20px;
}

.delete__Chat > .MuiSvgIcon-root :hover {
    color: rgb(187, 61, 61);
    font-size: 20px;
    
}